<div class="example-loading-shade" *ngIf="isLoadingResults"> </div>

<div class="container">
      <form [formGroup]="changePassForm" (ngSubmit)="onFormSubmit(changePassForm)">
          
         <div class="form-group">
            <label for="email">email</label>
            <input formControlName="email" placeholder="Email">
            <span *ngIf="!changePassForm.get('email').valid && changePassForm.get('email').touched">Please enter your email</span>
          </div>
          <div class="form-group">
            <label for="password"> new password</label>
            <input type="password" formControlName="password" placeholder="Password">
            <span *ngIf="!changePassForm.get('password').valid && changePassForm.get('password').touched">Please enter your password</span>
          </div>
        
            <div class="button-row">
          <button type="submit" >Change</button>
        </div>
      </form>
      </div>