<div *ngIf="!isLoggedIn">
    <ul >
        <li><a routerLink="/register">Register User</a></li>
        <li><a routerLink="/login">Sign in User</a></li>
        <li><a routerLink="/announcementsView">View Announcements</a></li>
        <li><a routerLink="/jobAnnouncementsView">View Job Announcements</a></li>
        <li><a routerLink="/scholarshipAnnouncementsView">View scholarship announcements</a></li>
        <li><a routerLink="/volunteerAnnouncementsView">View volunteer announcements</a></li>
    </ul>

    <div style="text-align: center;" >
            <img src="../../assets/logo.png" height="550px" width="800px" *ngIf="(router.url==='/' || router.url==='/header')">
          </div>
</div>