.form-style-10 button{
	width:100px;
	background: rgb(20, 56, 70);
	margin-top: 20px;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: inset 0px 5px 5px 0px rgba(255, 255, 255, 0.17);
	-webkit-box-shadow: inset 0px 5px 5px 0px rgba(255, 255, 255, 0.17);
	box-shadow: inset 0px 5px 5px 0px rgba(255, 255, 255, 0.17);
	border: 1px solid #257C9E;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	
}