<div class="form-style-10">
  <h1>Scholarship Announcements Details</h1>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td><label>NAME</label></td>
        <td><label>DESCRIPTION</label></td>
        <td><label>URL</label></td>
        <td><label>CREATED BY</label></td>
        <td><label>EXPIRATION DATE</label></td>
        <td><label>STATUS</label></td>
        <td><label>MINIMAL GRADE</label></td>
        <td><label>AWARD</label></td>
        <td><label>REQUIREMENTS</label></td>
        <td><label>PROGRAM ALLOWED</label></td>
        <td><label>UNIVERSITY ALLOWED</label></td>
        <td><label>MAX YEAR ALLOWED</label></td>
        <td><label>DEGREE ALLOWED</label></td>
        <td></td>
      </tr>
      <tr *ngFor="let sa of schAnns">
        <td>{{sa.anncmnt.anncmntName}}</td>
        <td>{{sa.anncmnt.description}}</td>
        <td>{{sa.anncmnt.url}}</td>
        <td>{{sa.anncmnt.userEmail}}</td>
        <td>{{sa.anncmnt.dateCreated |date}}</td>
        <td>{{sa.anncmnt.status.statusName}}</td>
        <td>{{sa.minGrade}}</td>
        <td>{{sa.scholarshipAward}}</td>
        <td>{{sa.requirements}}</td>
        <td>{{sa.programAllowed}}</td>
        <td>{{sa.universityAllowed}}</td>
        <td>{{sa.yearAllowed}}</td>
        <td>{{sa.degreeAllowed.description}}</td>
      <tr>
    </tbody>
  </table>
</div>