<div class="form-style-10">
        <h1> Announcement Details</h1>
        
        <table class="table table-striped">
          <tbody>
              <tr>
                  <td><label>NAME</label></td>
                  <td><label>CATEGORY</label></td>
                  <td><label>DESCRIPTION</label></td>
                  <td><label>URL</label></td>
                  <td><label>CREATED BY</label></td>
                  <td><label>EXPIRATION DATE</label></td>
                  <td><label>STATUS</label></td>
                  <td></td>
                  <td></td>
                </tr>
          <tr *ngFor="let a of anns">
            <td>{{a.anncmntName}}</td>
            <td>{{a.category.categoryName}}</td>
            <td>{{a.description}}</td>
            <td>{{a.url}}</td>
            <td>{{a.userEmail}}</td>
            <td>{{a.dateCreated | date}}</td>
            <td>{{a.status.statusName}}</td>
            
        <tr>
          </tbody>
        </table>
        </div>