    <div class="example-loading-shade" *ngIf="isLoadingResults"> </div>

<div class="container">
      <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit(registerForm)">
          <div class="form-group">
            <label for="firstname">First name</label>
             <input formControlName="firstname" placeholder="First Name">
            <span *ngIf="!registerForm.get('firstname').valid && registerForm.get('firstname').touched">Please enter your First Name</span>
         </div>
         <div class="form-group">
            <label for="lastname">Last name</label>
             <input formControlName="lastname" placeholder="Last Name">
            <span *ngIf="!registerForm.get('lastname').valid && registerForm.get('lastname').touched">Please enter your Last Name</span>
         </div>
         <div class="form-group">
            <label for="phone">Phone</label>
             <input formControlName="phone" placeholder="Phone">
            <span *ngIf="!registerForm.get('phone').valid && registerForm.get('phone').touched">Please enter your phone</span>
         </div>
         <div class="form-group">
            <label for="country">Country</label>
             <input formControlName="country" placeholder="Country">
            <span *ngIf="!registerForm.get('country').valid && registerForm.get('country').touched">Please enter your country</span>
         </div>
         <div class="form-group">
            <label for="city">City</label>
             <input formControlName="city" placeholder="City">
            <span *ngIf="!registerForm.get('city').valid && registerForm.get('city').touched">Please enter your City</span>
         </div>
         <div class="form-group">
            <label for="age">Age</label>
             <input formControlName="age" placeholder="Age">
            <span *ngIf="!registerForm.get('age').valid && registerForm.get('age').touched">Please enter your Age</span>
         </div>
         <div class="form-group">
            <label for="email">email</label>
            <input  formControlName="email" placeholder="Email">
            <span *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">Please enter your email</span>
          </div>
          <div class="form-group">
            <label for="password">password</label>
            <input type="password" formControlName="password" placeholder="Password">
            <span *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">Please enter your password</span>
          </div>
         <div class="button-row">
          <button type="submit" >Register</button>
        </div>
      </form>
      </div>