<div class="form-style-10">
  <h1> Announcement Details</h1>

  <table class="table table-striped">
    <tbody>
        <tr>
            <td><label>NAME</label></td>
            <td><label>DESCRIPTION</label></td>
            <td><label>URL</label></td>
            <td><label>CREATED BY</label></td>
            <td><label>CREATED ON</label></td>
            <td><label>STATUS</label></td>
            <td><label>MINIMAL GRADE</label></td>
            <td><label>AWARD</label></td>
            <td><label>REQUIREMENTS</label></td>
            <td><label>PROGRAM ALLOWED</label></td>
            <td><label>UNIVERSITY ALLOWED</label></td>
            <td><label>MAX YEAR ALLOWED</label></td>
            <td><label>DEGREE ALLOWED</label></td>
            <td></td>
        </tr>
      <tr *ngFor="let sa of schAnns">
        <td>{{sa.anncmnt.anncmntName}}</td>
        <td>{{sa.anncmnt.description}}</td>
        <td>{{sa.anncmnt.url}}</td>
        <td>{{sa.anncmnt.userEmail}}</td>
        <td>{{sa.anncmnt.dateCreated}}</td>
        <td>{{sa.anncmnt.status.statusName}}</td>
        <td>
          <input type="text" [(ngModel)]="this.sa.minGrade" [disabled]="!this.isEditable">
        </td>
        <td>
          <input type="text" [(ngModel)]="this.sa.scholarshipAward" [disabled]="!this.isEditable">
        </td>
        <td>
          <textarea [(ngModel)]="this.sa.requirements" [disabled]="!this.isEditable"></textarea>
        </td>
        <td>
          <input type="text" [(ngModel)]="this.sa.programAllowed" [disabled]="!this.isEditable">
        </td>
        <td>
          <textarea [(ngModel)]="this.sa.universityAllowed" [disabled]="!this.isEditable"></textarea>
        </td>
        <td>
          <input type="number" [(ngModel)]="this.sa.yearAllowed" [disabled]="!this.isEditable" > 
        </td>
        <td>
          <input type="text" [(ngModel)]="this.sa.degreeAllowed" [disabled]="!this.isEditable">
        </td>
        <td><button class="btn btn-primary" (click)="edit()" *ngIf="!this.isEditable">Edit</button></td>
        <td><button class="btn btn-primary" (click)="save(sa)" *ngIf="this.isEditable">Save</button></td>
      <tr>
    </tbody>
  </table>
</div>

