<div class="form-style-10">
   <h1>Create announcement</h1>
   <form [formGroup]="createForm" (ngSubmit)="onFormSubmit(createForm)">
      <div class="form-group">
         <input type="text" formControlName="anncmntName" placeholder="Anncmnt Name">
         <span *ngIf="!createForm.get('anncmntName').valid && createForm.get('anncmntName').touched">Please enter
            name</span>
      </div>
      <div><select formControlName="categoryId" id="#" (ngModelChange)='onOptionsSelected($event)'>
            <option value="1">Job</option>
            <option value="2">Scholarship</option>
            <option value="3">Voluntariness</option>
         </select>
      </div>
      <div class="form-group">
         <textarea formControlName="description" placeholder="Description"></textarea>
      </div>
      <div class="form-group">
         <input type="text" formControlName="url" placeholder="Url">
         <span *ngIf="!createForm.get('url').valid && createForm.get('url').touched">Please enter url</span>
      </div>
      <div class="form-group">
         <input type="text" formControlName="dateCreated" placeholder="Expiration date">
         <span *ngIf="!createForm.get('dateCreated').valid && createForm.get('dateCreated').touched">Please enter date in format yyyy-mm-dd</span>
      </div>
     
      
      <div>
         <button [disabled]="!createForm.valid">CREATE</button>
      </div>
   </form>
</div>