<div class="example-loading-shade"> </div>

<div class="container">
      <form [formGroup]="createForm" (ngSubmit)="onFormSubmit(createForm)">
         <div class="form-group">
            <label for="anncmntName">Anncmnt name</label>
             <input formControlName="anncmntName" placeholder="Anncmnt Name">
            <span *ngIf="!createForm.get('anncmntName').valid && createForm.get('anncmntName').touched">Please enter anncmnt Name</span>
         </div>
         <div class="form-group">
            <label for="dateCreated">Date</label>
             <input formControlName="dateCreated" placeholder="Date">
            
         </div>
         <div class="form-group">
            <label for="description">Description</label>
             <input formControlName="description" placeholder="Description">
            
         </div>
         <div class="form-group">
            <label for="url">Url</label>
             <input formControlName="url" placeholder="Url">
            <span *ngIf="!createForm.get('url').valid && createForm.get('url').touched">Please enter url</span>
         </div>
         <div><select formControlName="categoryId" id="#"
            (ngModelChange)='onOptionsSelected($event)'>
            <option value="1">Job</option>
            <option value="2">Scholarship</option>
            <option value="3">Voluntariness</option>
          </select>
        </div>
         <div class="button-row">
          <button type="submit" [disabled]="!createForm.valid">Create</button>
        </div>
      </form>
      </div>