<div class="col-md-6">
        <h2> User Details</h2>
        
        <table class="table table-striped">
          <tbody>
            <tr>
            <td>{{userattributes.email}}</td>
            <td>
              <input type="text" [(ngModel)]="this.userattributes.fName"  [disabled]="!this.isEditable">
            </td>
            <td>
               <input type="text" [(ngModel)]="this.userattributes.lName"  [disabled]="!this.isEditable">
            </td>
            <td>
              <input type="text" [(ngModel)]="this.userattributes.phone"  [disabled]="!this.isEditable">
            </td>
            <td>
              <input type="text" [(ngModel)]="this.userattributes.city"  [disabled]="!this.isEditable">
            </td>
            <td>
              <input type="text" [(ngModel)]="this.userattributes.country"  [disabled]="!this.isEditable">
            </td>
            <td>
              <input type="text" [(ngModel)]="this.userattributes.age"  [disabled]="!this.isEditable">
            </td>
        </tr>
        <tr>
          <button (click)="edit()" *ngIf="!this.isEditable">Edit</button>
        </tr>

        <tr>
          <button (click)="save(userattributes)">Save</button>
        </tr>

        <tr>
          <button (click)="changePass()">Change my password</button>
        </tr>
          </tbody>
        </table>
        </div>