<div class="form-style-10">
  <h1> Announcement Details</h1>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td><label>NAME</label></td>
        <td><label>CATEGORY</label></td>
        <td><label>DESCRIPTION</label></td>
        <td><label>URL</label></td>
        <td><label>CREATED BY</label></td>
        <td><label>CREATED ON</label></td>
        <td><label>STATUS</label></td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngFor="let a of anns">
      <td>
          <input type="text" [(ngModel)]="this.a.anncmntName" [disabled]="!this.isEditable">
      </td>
      <td>
          {{a.category.categoryName}}
      </td>
      <td>
          <textarea [(ngModel)]="this.a.description" [disabled]="!this.isEditable"></textarea>
      </td>
      <td>
          <input type="text" [(ngModel)]="this.a.url" [disabled]="!this.isEditable">
      </td>
      <td>{{a.userEmail}}</td>
      <td>{{a.dateCreated | date }}</td>
      <td><select [(ngModel)]="this.a.status.statusId" id="#" [disabled]="!this.isEditable"
          (ngModelChange)='onOptionsSelected($event)'>
            <option value="1">active</option>
            <option value="2">unactive</option>
      </select></td>
        <td><button class="btn btn-danger" (click)="deleteAnn(a)"> Delete announcement</button></td>
        <td><button class="btn btn-primary" (click)="save(a)" *ngIf="this.isEditable">Save</button></td>
    </tr>
    <tr>
        <td><button class="btn btn-primary" (click)="edit()" *ngIf="!this.isEditable">Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>