<div class="container-fluid">
        <div class="col-md-offset-1">
          <h1>
            Welcome ADMIN !
          </h1>
        </div>
        
        <a routerLink="/userJobAttributes"> List job users</a><br>
        <a routerLink="/studentAttributes"> List students</a><br>
        <a routerLink="/volunteerAttributes"> List volunteers</a><br>
        <a routerLink="/userAttributes"> List users</a><br>
        <a routerLink="/viewProfile"> View my profile</a><br>
        <a routerLink="/jobAnnouncements"> List job announcements</a><br>
        <a routerLink="/scholarshipAnnouncements"> List scholarship announcements</a><br>
        <a routerLink="/volunteerAnnouncements"> List volunteer announcements</a><br>
        <a routerLink="/announcements"> List announcements</a><br>


        <br/>
        <router-outlet></router-outlet>
        </div>