<div class="form-style-10">
  <h1>Volunteer User Details</h1>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td>ROLE</td>
        <td>EMAIL</td>
        <td>FIRST NAME</td>
        <td>LAST NAME</td>
        <td>PHONE</td>
        <td>CITY</td>
        <td>COUNTRY</td>
      </tr>
      <tr *ngFor="let uj of volunteerattributes">
        <td>{{uj.user.role.description}}</td>
        <td>{{uj.email}}</td>
        <td>{{uj.user.fName}}</td>
        <td>{{uj.user.lName}}</td>
        <td>{{uj.user.phone}}</td>
        <td>{{uj.user.city}}</td>
        <td>{{uj.user.country}}</td>
      </tr>
    </tbody>
  </table>
</div>