<div class="form-style-10">
  <h1>Voluntariness Announcements Details</h1>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td><label>NAME</label></td>
        <td><label>DESCRIPTION</label></td>
        <td><label>URL</label></td>
        <td><label>CREATED BY</label></td>
        <td><label>EXPIRATION DATE</label></td>
        <td><label>STATUS</label></td>
        <td><label>ORGANIZATION</label></td>
        <td></td>
      </tr>
      <tr *ngFor="let va of volAnns">
        <td>{{va.anncmnt.anncmntName}}</td>
        <td>{{va.anncmnt.description}}</td>
        <td>{{va.anncmnt.url}}</td>
        <td>{{va.anncmnt.userEmail}}</td>
        <td>{{va.anncmnt.dateCreated}}</td>
        <td>{{va.anncmnt.status.statusName}}</td>
        <td>
          <input type="text" [(ngModel)]="this.va.anncmntOrganization" [disabled]="!this.isEditable">
        </td>
        <td><button class="btn btn-primary" (click)="edit()" *ngIf="!this.isEditable">Edit</button></td>
        <td><button class="btn btn-primary" (click)="save(va)" *ngIf="this.isEditable">Save</button></td>
      <tr>
    </tbody>
  </table>
</div>