<div class="col-md-6">
        <h2> User Details</h2>
        
        <table class="table table-striped">
          <tbody>
          <tr *ngFor="let us of studentattributes">
            <td>{{us.user.role.id}}</td>
            <td>{{us.email}}</td>
            <td>{{us.user.fName}}</td>
            <td>{{us.user.lName}}</td>
            <td>{{us.user.phone}}</td>
            <td>{{us.user.city}}</td>
            <td>{{us.user.country}}</td>
            <td>{{us.user.age}}</td>
            <td>{{us.grade}}</td>
            <td>{{us.degree}}</td>
            <td>{{us.program}}</td>
            <td>{{us.university}}</td>
            <td>{{us.year}}</td>
            <td>{{us.user.password}}</td>
            
          </tr>
          <div class="button-row">
              <button type="button" (click)="logout()">Logout</button>
            </div>
          </tbody>
        </table>
        </div>