<div class="container-fluid">
        <div class="col-md-offset-1">
          <h1>
            Welcome User !
          </h1>
        </div>
        
        <a routerLink="/viewProfile"> View my profile</a><br>
        <a routerLink="/announcementsView"> List announcements</a><br>
        <a routerLink="/jobAnnouncementsView"> List job announcements</a><br>
        <a routerLink="/scholarshipAnnouncementsView"> List scholarship announcements</a><br>
        <a routerLink="/volunteerAnnouncementsView"> List volunteer announcements</a><br>
        <a routerLink="/myAnnouncements"> List my announcements</a><br>
        <a routerLink="/createAnnouncement"> Create announcement</a><br>
        <button class="btn btn-danger" (click)="deleteUser()"> Delete User</button>
        <br/>
        <router-outlet></router-outlet>
        </div>