<div class="form-style-10">
  <h1> User Details</h1>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td>ROLE</td>
        <td>EMAIL</td>
        <td>FIRST NAME</td>
        <td>LAST NAME</td>
        <td>PHONE</td>
        <td>CITY</td>
        <td>COUNTRY</td>
        <td>AGE</td>
        <td></td>
      </tr>
      <tr *ngFor="let us of userattributes">
        <td>{{us.role.description}}</td>
        <td>{{us.email}}</td>
        <td>{{us.fName}}</td>
        <td>{{us.lName}}</td>
        <td>{{us.phone}}</td>
        <td>{{us.city}}</td>
        <td>{{us.country}}</td>
        <td>{{us.age}}</td>
        <td><button class="btn btn-danger" (click)="deleteUser(us)">Delete User</button></td>
      </tr>
    </tbody>
  </table>
</div>