<div class="col-md-6">
        <h2> User Details</h2>
        
        <table class="table table-striped">
          <tbody>
          <tr *ngFor="let us of userattributes">
            <td>{{us.email}}</td>
            <td>{{us.role.description}}</td>
            <td>{{us.fName}}</td>
            <td>{{us.lName}}</td>
            <td>{{us.phone}}</td>
            <td>{{us.city}}</td>
            <td>{{us.country}}</td>
            <td>{{us.age}}</td>
            <td><button class="btn btn-danger" (click)="deleteUser(us)"> Delete User</button></td>
          </tr>
          </tbody>
        </table>
        </div>