<div class="col-md-6">
  <h2> Announcement Details</h2>
  
  <table class="table table-striped">
    <tbody>
      <td>{{this.volAnns.anncmntID}}</td>
      <td>{{this.volAnns.anncmnt.anncmntId}}</td>
      <td>{{this.volAnns.anncmnt.anncmntName}}</td>
      <td>{{this.volAnns.anncmnt.category.categoryName}}</td>
      <td>{{this.volAnns.anncmnt.dateCreated}}</td>
      <td>{{this.volAnns.anncmnt.description}}</td>
      <td>{{this.volAnns.anncmnt.url}}</td>
      <td>{{this.volAnns.anncmnt.status.statusName}}</td>
      <td>{{this.volAnns.anncmnt.userEmail}}</td>
      <td>
    <label>Announcement Organization</label>
    <input type="text" [(ngModel)]="this.volAnns.anncmntOrganization" [disabled]="!this.isEditable">
  </td>
  <td><button (click)="edit()" *ngIf="!this.isEditable">Edit</button></td>
  <td><button (click)="save(volAnns)" *ngIf="this.isEditable">Save</button></td>
  <tr>
    </tbody>
  </table>
  </div>