<div class="form-style-10">
  <h1>Job Announcements Details</h1>

  <table class="table table-striped">
    <tbody>
      <tr>
          <td><label>NAME</label></td>
          <td><label>DESCRIPTION</label></td>
          <td><label>URL</label></td>
          <td><label>CREATED BY</label></td>
          <td><label>EXPIRATION DATE</label></td>
          <td><label>STATUS</label></td>
          <td><label>ORGANIZATION</label></td>
          <td><label>RESPONSIBILITES</label></td>
          <td><label>SALARY</label></td>
          <td><label>EXPERIENCE</label></td>
          <td><label>BENEFITS</label></td>
          <td><label>REQUIREMENTS</label></td>
          <td></td>
      </tr>
      <tr *ngFor="let ja of jobAnns">
        <td>{{ja.anncmnt.anncmntName}}</td>
        <td>{{ja.anncmnt.description}}</td>
        <td>{{ja.anncmnt.url}}</td>
        <td>{{ja.anncmnt.userEmail}}</td>
        <td>{{ja.anncmnt.dateCreated | date}}</td>
        <td>{{ja.anncmnt.status.statusName}}</td>
        <td>
          <input type="text" [(ngModel)]="this.ja.anncmntOrganization" [disabled]="!this.isEditable">
        </td>
        <td>
          <textarea [(ngModel)]="this.ja.candidateResponsibility" [disabled]="!this.isEditable"></textarea>
        </td>
        <td>
          <input type="text" [(ngModel)]="this.ja.salary" [disabled]="!this.isEditable">
        </td>
        <td>
          <input type="number" [(ngModel)]="this.ja.experiance" [disabled]="!this.isEditable">
        </td>
        <td>
          <textarea [(ngModel)]="this.ja.benefits" [disabled]="!this.isEditable"></textarea>
        </td>
        <td>
          <textarea [(ngModel)]="this.ja.requirements" [disabled]="!this.isEditable"></textarea>
        </td>
        <td><button class="btn btn-primary" (click)="save(ja)" *ngIf="this.isEditable" >Save</button></td>
        </tr>
        <tr>
        <td><button class="btn btn-primary" (click)="edit()" *ngIf="!this.isEditable">Edit</button></td>
        </tr>
    </tbody>
  </table>
</div>