<div class="col-md-6">
  <h2> Announcement Details</h2>

  <table class="table table-striped">
    <tbody>
      <tr *ngFor="let ja of jobAnns">
        <td>{{ja.anncmntID}}</td>
        <td>{{ja.anncmnt.anncmntName}}</td>
        <td>{{ja.anncmnt.category.categoryName}}</td>
        <td>{{ja.anncmnt.dateCreated}}</td>
        <td>{{ja.anncmnt.description}}</td>
        <td>{{ja.anncmnt.url}}</td>
        <td>{{ja.anncmnt.status.statusName}}</td>
        <td>{{ja.anncmnt.userEmail}}</td>

        <td>
          <label>Announcement Organization</label>
          <input type="text" [(ngModel)]="this.ja.anncmntOrganization" [disabled]="!this.isEditable">
        </td>


        <td>
          <label>Candidate Responsibility</label>
          <input type="text" [(ngModel)]="this.ja.candidateResponsibility" [disabled]="!this.isEditable">
        </td>


        <td>
          <label>Salary</label>
          <input type="text" [(ngModel)]="this.ja.salary" [disabled]="!this.isEditable">
        </td>

        <td>
          <label>Experiance</label>
          <input type="text" [(ngModel)]="this.ja.experiance" [disabled]="!this.isEditable">
        </td>

        <td>
          <label>Benefits</label>
          <input type="text" [(ngModel)]="this.ja.benefits" [disabled]="!this.isEditable">
        </td>

        <td>
          <label>Requirements</label>
          <input type="text" [(ngModel)]="this.ja.requirements" [disabled]="!this.isEditable">
        </td>
        <td><button (click)="edit()" *ngIf="!this.isEditable">Edit</button></td>
        <td><button (click)="save(ja)" *ngIf="this.isEditable">Save</button></td>
      <tr>
    </tbody>
  </table>
</div>