<div class="col-md-6">
        <h2> Announcement Details</h2>
        
        <table class="table table-striped">
          <tbody>
          <tr *ngFor="let ja of jobAnns">
            <td>{{ja.anncmntID}}</td>
            <td>{{ja.anncmnt.anncmntId}}</td>
            <td>{{ja.anncmnt.anncmntName}}</td>
            <td>{{ja.anncmnt.category.categoryName}}</td>
            <td>{{ja.anncmnt.dateCreated}}</td>
            <td>{{ja.anncmnt.description}}</td>
            <td>{{ja.anncmnt.url}}</td>
            <td>{{ja.anncmnt.status.statusName}}</td>
            <td>{{ja.anncmnt.userEmail}}</td>
            <td>{{ja.anncmntOrganization}}</td>
            <td>{{ja.candidateResponsibility}}</td>
            <td>{{ja.salary}}</td>
            <td>{{ja.experiance}}</td>
            <td>{{ja.benefits}}</td>
            <td>{{ja.requirements}}</td>
        <tr>
          </tbody>
        </table>
        </div>